body{
	background-color:#ffffff;
	color:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:1.6em;
}

/*  Simple Band Aid Issue until I can finish the actual .hint */
.hintOne{
	color: #dbdbdb;
	margin: 100px auto 0px;
	text-align: center;
}

/*  Complete framwork of all boxes used on my website*/
.box{
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
    max-width: 600px;

    border-radius: 15px;
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;

    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.3s;
    animation-fill-mode: backwards;

}
.box:hover{
    background-color: #ffffff;
    box-shadow: 0 5px 35px 0px rgba(0,0,0,0.5);
    color: #b7b7b7;
}
.box a{
    font-size: 12px;
    text-decoration: none;
    color: #ffffff00;
    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}
.box:hover a{
    transition-property: color;
    transition-duration: 1s;
    transition-delay: 0.7s;
    color: #b7b7b7;
}

.box:hover .hint{
	transition-property: color;
    transition-duration: 0.7s;
    transition-delay: 0.0s;
	color: #ffffff00;
}
.box:hover ::placeholder{
	color: #e5e5e5;
}
.box:hover input[type=submit]{
	color: #e0e0e0;
}
.box:hover input[type=submit]:hover{
	background-color: #e0e0e0;
	color: #ffffff;}

/* Hints for before hovering */
.hint{
	font-size: 24px;
	color: #dbdbdb;
	position:absolute;
	/* vertically centering */

	border-top: 50%;
	border-bottom: 50%;
	/* horizontally centering */
	left: 0;
	right: 0;
	margin: auto;

	transition-property: color;
    transition-duration: 0.7s;
    transition-delay: 1.0s;

	/* line-height: 110px; */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
}

/*  The stock navigation bar of the entire website */
.navbar{
    margin: auto;
    display: table;
    position: sticky;
    margin-top:30px;

	bottom: 20px;

    width: 100px;
    table-layout: fixed;

    transition-property: box-shadow, background-color, width;
    transition-duration: 1s,1s,0.7s;
    transition-delay: 0s,0s,1s;
}
.navbar a{
    display: table-cell;
    text-align: center;
}
.navbar:hover{
    transition-property: box-shadow, background-color, width;
    transition-duration: 1s,1s,0.7s;
    transition-delay: 0.7s,0.7s,0s;
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 5px 35px 0px rgba(0,0,0,0.5);
}

/*  Email Forms */
input[type=text] {
	width: 50%;
	padding: 12px 20px;
	margin: 15px 0;
	/*  Animation Needed Here */
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	background-color: #ffffff00;
	box-sizing: border-box;
	text-align: center;
	color: #e0e0e0


}
input[type=submit] {
    width: 50%;
	padding: 12px 20px;
	margin: 15px 0;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
    background-color: #ffffff00;

    color: #ffffff00;
    cursor: pointer;

	transition-property: color, background-color;
    transition-duration: 1s, 1s;
    transition-delay: 0.7s, 0.7;
}
input::placeholder {
	text-align: center;
  	color: #ffffff00;

	transition-property: color;
    transition-duration: 1s;
    transition-delay: 0.3s;
}

/*  Others */
.main{
	margin: 100px auto 50px;
	text-align: center;
}
.download{

	margin: auto;
	margin-top: 30px;
	/* text-align: center; */

}
.container {
	width: 560px; /* you have to have a size or this method doesn't work */
   	height: 315px; /* think about making these max-width instead - might give you some more responsiveness */

	margin: auto; /* make em equal */
}

@media only screen and (max-width: 768px) {

	.hintOne{
		margin: 50px auto 0px;
		text-align: center;
	}

    .box {
		margin: 50px auto 0px;
		width: 90%;
		padding: 25px;
		font-size: 12px;
        color:#b7b7b7 ;
		pointer-events: none;
    }

	.box h1{
		line-height: normal;
	}

	.navbar{
		height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;

		margin: auto;
		width: 80%;
		background-color: #ffffff;

		margin-top:30px;
	}

	.navbar:hover{
		width: 80%;
	}

	.box a{
		color: #b7b7b7;
	}

	img{
		width: 90%;
	}

	input[type=submit]{
		width: 85%;
	    background-color: #e0e0e0;
		color: #ffffff;
	}
	input[type=text] {
	    width: 85%;
	}
	.box:hover input[type=submit]{
		color: #ffffff;
	}
}
