/* Global Attributes */
body{
	background-color: transparent;
	color: transparent;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:1.6em;

	transition-property: background-color;
	transition-duration: 1s;
	transition-delay: 0.3s;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
}
.disable_text_highlighting {
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Webkit */
	-moz-user-select: none;    /* Firefox */
	-ms-user-select: none;     /* IE 10  */
	/* Currently not supported in Opera but will be soon */
	-o-user-select: none;
	user-select: none;
}
.isDisabled {
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
}

/* "Random Note" texts */
/* for disclaimers and little notes here and there */
.no_box_mid_txt{
	color: #999999;
	margin: 100px auto 0px;
	text-align: center;
}

/* Box */
/* The abstraction that keeps all Containing relative information around the website */
.box{
    background-color: rgba(255,255,255,0.5);
    padding: 40px;
    max-width: 600px;

    border-radius: 15px;
	border-color: #999999;

    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;

	transition-property: all;
	transition-duration: 1s;
	transition-delay: 0.3s;
}
.box:hover{
    background-color: #ffffff;
    box-shadow: 0 5px 35px 0px rgba(0,0,0,0.5);
    color: #999999;

	transition-property: all;
	transition-duration: 1s;
	transition-delay: 0.3s;
}

.box a{
    font-size: 12px;
    text-decoration: none;
    color:  transparent;

    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}
.box:hover a{
    color: #999999;

	transition-property: color;
	transition-duration: 1s;
	transition-delay: 0.7s;
}
.box:hover a:hover{
	color: #cfcfcf;

	transition-property: color;
	transition-duration: 1s;
	transition-delay: 0.3s;
}

.box input[type=text] {
	width: 50%;
	padding: 12px 20px;
	margin: 15px 0;
	border: 1px solid #999999;
	border-radius: 8px;
	box-sizing: border-box;
	text-align: center;
	color: #999999;

	transition-property: all;
    transition-duration: 1s;
    transition-delay: 0.7s;
}
.box:hover input[type=text]{
	color: #999999;

	transition-property: all;
	transition-duration: 1s;
	transition-delay: 0.7s;
}

.box input[type=text]::placeholder {
  	color:  transparent;

	transition-property: color;
	transition-duration: 0.3s;
	transition-delay: 0s;
}
.box:hover input[type=text]::placeholder{
	color: #999999;

	transition-property: color;
	transition-duration: 0.3s;
	transition-delay: 0s;
}

.box input[type=submit] {
	-webkit-appearance: none;
    width: 50%;
	padding: 12px 20px;
	margin: 15px 0;
	border: 1px solid #999999;
	border-radius: 8px;
    background-color:  transparent;
    color:  transparent;
    cursor: pointer;


	transition-property: color, background-color;
    transition-duration: 0.6s, 0.6s;
    transition-delay: 0.3s, 0.3s;
}
.box:hover input[type=submit]{
	color: #999999;

	transition-property: color;
	transition-duration: 0.6s;
	transition-delay: 0.3s;
}
.box:hover input[type=submit]:hover{
	background-color: #999999;
	color: #ffffff;

	transition-property: color, background-color;
	transition-duration: 0.6s, 0.6s;
	transition-delay: 0.3s, 0.3s;
}

.box .hint{
	color: #999999;
	position:absolute;

	transition-property: color;
    transition-duration: 0.7s;
    transition-delay: 1.0s;
}
.box:hover .hint{
	color:  transparent;

	transition-property: color;
	transition-duration: 0.7s;
	transition-delay: 0.0s;
}

/* CSS for Beta/New/Undecided features */
.icon{
	padding-right: 10px;
	width: 100px;
}

/* Navigation Bar */
.navbar{
    margin: auto;
    display: table;
	position: -webkit-sticky;
    position: sticky;
    margin-top:30px;

	bottom: 20px;

    width: 100px;
    table-layout: fixed;

    transition-property: box-shadow, background-color, width;
    transition-duration: 1s,1s,0.7s;
    transition-delay: 0s,0s,1s;
}
.navbar a{
    display: table-cell;
    text-align: center;
}
.navbar:hover{
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 5px 35px 0px rgba(0,0,0,0.5);

	transition-property: box-shadow, background-color, width;
	transition-duration: 1s,1s,0.7s;
	transition-delay: 0.7s,0.7s,0s;
}

/* Specific Box Instances */
.main{
	margin: 15% auto 15%;
	text-align: center;
}
.course{
	min-height: 200px;
	margin: auto;
	margin-top: 30px;
}

.mail_err_msg{
	color:  transparent;
	margin: 100px auto 0px;
	text-align: center;

	transition-property: color;
	transition-duration: 0.7s;
	transition-delay: 0s;
}
.mail_sub{
	margin: 7.5% auto -2.5%;
	text-align: center;
}
.mail_sub:hover + .mail_err_msg{
	color: #999999;

	transition-property: color;
	transition-duration: 1.7s;
	transition-delay: 1s;
}

/* 700px for phones only now since iPadOS will act like Desktop now. */
/* @media only screen and (max-width: 700px) { */
@media (hover: none) and (pointer: coarse) {
	body{
		background-color:black;
		color: transparent;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		line-height:1.6em;
	}
	img{
		width: 90%;
	}

    .box {
		margin: 50px auto 0px;
		width: 90%;
		padding: 25px;
		font-size: 12px;
		background-color: #4a4a4a;
        color: white ;
    }
	.box a{
		color: white;
	}
	.box input[type=text] {
		width: 85%;
		background-color: black;
		color: white;
	}
	.box input[type=text]::placeholder {
	  	color: #999999;
	}
	.box input[type=submit]{
		-webkit-appearance: none;
		width: 85%;
		background-color: #363636;
		color: #ffffff;
	}
	.box .hint{
		color:  transparent;

		position:absolute;

		transition-property: color;
	    transition-duration: 0.7s;
	    transition-delay: 1.0s;
	}
	.box h1{
		line-height: normal;
	}

	.navbar{
		height: 100%;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;

		margin: auto;
		width: 80%;
		background-color: #4a4a4a;

		margin-top:30px;
	}
	.mail_err_msg{
		color: white;
	}
	.mail_sub{
		margin: 7.5% auto -5%;
		text-align: center;
	}

	/* Eliminating mouse hover */
	.box:hover{
		background-color: #4a4a4a;
		color: white;
	}
	.box:hover a{
		color: white;
	}
	.box:hover a:hover{
		color: white;
	}
	.box:hover input[type=text]{
		border: 1px solid #999999;
		color: #999999;
	}
	.box:hover input[type=text]::placeholder{
		color: #999999;
	}
	.box:hover input[type=submit]{
		color: white;
	}
	.box:hover input[type=submit]:hover{
		background-color: #363636;
		color: white;
	}
	.box:hover .hint{
		color:  transparent;
	}
	.navbar:hover{
		width: 80%;
	    background-color: #4a4a4a;
	}
	.mail_sub:hover + .mail_err_msg{
		color: white;
	}

	/* Youtube Embed fitting in phone screen */
	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 35px;
	    height: 0;
	    overflow: hidden;
	}
	.video-container iframe {
	    position: absolute;
	    top:0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}


}
